body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    background-color: #ffffff;
}

a {text-decoration: none}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

/* Header */

.site-header {
border-bottom: 1px solid #e7e9fc;

}
.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-header .logo {
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-accent {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
   
}

.contacts-address {
    font-style: normal;
}

.contacts {
    display: flex;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* Hero */
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2e2f42;
 }

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}



.hero-button {
    display: block;
    justify-content: center;
    align-items: center;
    min-width: 169px;
    height: 56px; 
    
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;

    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}



/* advantages */

.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.section-title {
    margin-bottom: 8px;
}

.advantages-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
}

.advantages {
    display: flex;
}

.advantages-item {
    display: flex;
    gap: 24px;
    margin-right: 24px;
}

.advantages-item:last-child {
    margin-right: 0;
}

.advantages-item:not(:first-child) {
    flex-basis: calc((100% - 3 * 24px)/4)
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Our Team */

.team-section {
    background-color: #F4F4FD
}

.team-item {
    background-color: #FFFFFF
}

.team-item img {
    margin: 0 auto;
}


.team-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.team-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}
/* Portfolio */

.portfolio-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-item img {
        border-radius: 10px;
        margin: 0 auto;
}


.portfolio-item {
    text-align: center;
}


.portfolio-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        display: block;
        text-align: center;
        
}

/* Footer */
.site-footer {
    background-color: #2e2f42;
}



.site-footer .logo-accent {
    color: #f4f4fd;
}

.footer-text {
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
